<a href="https://colab.research.google.com/github/LiKuanYi/Introduction-to-Computers/blob/main/0516.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print(1,2,3,)

1 2 3

In [18]:
i = range(6)

In [19]:
print(type(i))

<class 'range'>

In [20]:
print(i)

range(0, 6)

In [21]:
print(list(i))

[0, 1, 2, 3, 4, 5]

In [22]:
a = range(3,8)
print(list(a))

[3, 4, 5, 6, 7]

In [23]:
b = range(-2,4)
print(list(b))

[-2, -1, 0, 1, 2, 3]

In [24]:
c = range(3,8,1)
print(list(c))

[3, 4, 5, 6, 7]

In [25]:
d = range(3,8,2)
print(list(d))

[3, 5, 7]

In [26]:
e = range(8,3,-1)
print(list(e))

[8, 7, 6, 5, 4]

In [28]:
f = range(9)
print(list(f))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [31]:
g = range(1,10)
print(list(g))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [36]:
h = range(1,10,2)
print(list(h))

[1, 3, 5, 7, 9]

In [35]:
i = range(10,1,-2)
print(list(i))

[10, 8, 6, 4, 2]

In [37]:
for n in range(3):
    print(n)

0
1
2

In [39]:
for n in range(10):
    print(n , end=",")

0,1,2,3,4,5,6,7,8,9,

In [45]:
for n in range(0,10,2):
    print(n , end=",")

0,2,4,6,8,

In [51]:
test = int(input("請輸入一個正整數"))
for m in range(1,test+1):
    print(m , end=" ")

請輸入一個正整數12
1 2 3 4 5 6 7 8 9 10 11 12

In [53]:
sum = 0
for n in range(3):
    sum = sum + n
print(sum)

3

In [57]:
sum = 0
for n in range(10,1,-2):
    sum = sum + n
print(sum)

30

In [115]:
z = int(input("請輸入一個正整數"))
sum = 0
for n in range(1,z+1):
    sum = sum + n
print("1到",z,"的整數和為",sum)

請輸入一個正整數10
1到 10 的整數和為 55

In [160]:
y = int(input("請輸入一個正整數"))
sum = 0
for a in range(1,y-8):
    sum = sum + a
print("1到",y-9,"的整數和為",sum)
sum = 0
for a in range(1,y-7):
    sum = sum + a
print("1到",y-8,"的整數和為",sum)
sum = 0
for a in range(1,y-6):
    sum = sum + a
print("1到",y-7,"的整數和為",sum)
sum = 0
for a in range(1,y-5):
    sum = sum + a
print("1到",y-6,"的整數和為",sum)
sum = 0
for a in range(1,y-4):
    sum = sum + a
print("1到",y-5,"的整數和為",sum)
sum = 0
for a in range(1,y-3):
    sum = sum + a
print("1到",y-4,"的整數和為",sum)
sum = 0
for a in range(1,y-2):
    sum = sum + a
print("1到",y-3,"的整數和為",sum)
sum = 0
for a in range(1,y-1):
    sum = sum + a
print("1到",y-2,"的整數和為",sum)
sum = 0
for a in range(1,y):
    sum = sum + a
print("1到",y-1,"的整數和為",sum)
sum = 0
for a in range(1,y+1):
    sum = sum + a
print("1到",y,"的整數和為",sum)

請輸入一個正整數10
1到 1 的整數和為 1
1到 2 的整數和為 3
1到 3 的整數和為 6
1到 4 的整數和為 10
1到 5 的整數和為 15
1到 6 的整數和為 21
1到 7 的整數和為 28
1到 8 的整數和為 36
1到 9 的整數和為 45
1到 10 的整數和為 55